.wp-block-image
  margin: 1rem 0
  text-align: center

.main-content
  @extend %inner-container
  padding-top: 4rem
  padding-bottom: 4rem
  display: flex
  flex-flow: row wrap
  justify-content: space-between

  main.site-main
    width: 70%

    @media (max-width: $tablet-size)
      width: 100%

  aside.widget-area
    width: 25%

    @media (max-width: $tablet-size)
      width: 100%
      max-width: 400px

figure
  margin: 2rem 0

ficaption.blocks-gallery-caption
  width: 100%

.comunidad
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.comunidad-desc
  width: 80%

figure.comunidad-logo
  align-self: center
  width: 20%
  max-width: 450px
  margin: 2rem 0

.wp-block-table.is-style-stripes
  table
    border-collapse: collapse
    th
      padding: 1rem 2rem
      border-bottom: 2px solid $dark-gray

    td
      padding: 1rem 2rem
