form.wpcf7-form.init
  label
    font-size: 0.9rem

  input, select, textarea
    width: 100%
    max-width: 450px
    padding: 0.75rem 1rem
    font-size: 1rem
    color: $dark-gray
    font-family: inherit
    border: 1px solid darken($light-gray, 10%)
    display: block
    margin-bottom: 1rem

  textarea
    max-width: 450px
    height: 15rem

  input.wpcf7-form-control.wpcf7-submit
    background-color: $primary-color
    color: $light-gray
    font-family: $header-font-family
    text-transform: uppercase