@import 'header';

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comunidad {
	display: grid;
	grid-template-columns: auto 300px;
	column-gap: 40px;
	row-gap: 40px;
	margin-bottom: 40px;

	.comunidad-logo {
		max-width: 300px;
		height: auto;
		justify-self: end;
	}
}

@import 'footer';