body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-size: 16px;

	p {
		max-width: 70ch;
	}
}

.wp-block-columns {
	&.alignwide {
		max-width: 1200px;
		margin: 2rem auto;
	}
}